<ion-content>
  <!-- Toolbar transparente -->
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="end">
      <ion-button routerLink="/home" class="close-button" fill="clear">
        <ion-icon class="close"name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <!-- Container com espaço para texto em h1 -->
  <div class="text-container">
    <h1>Seu Ticket Gratuito</h1>
  </div>
  
  <!-- Container com espaço para imagem -->
  <div class="image-container">
    <img src="https://i.ibb.co/2kkMCj4/SHOW.png" alt="Sua Imagem">
  </div>
</ion-content>
