<ion-content>
  <!-- Imagem ocupando toda a largura da página -->
  <div class="image-container">
    <img src="https://media.discordapp.net/attachments/693184817386487808/1229107320873816064/Design_sem_nome.png?ex=662e7a65&is=661c0565&hm=f55e935342cbab60069f2934960cc3a4a150ddd0f300b348cf67af67a2acd88b&=&format=webp&quality=lossless&width=365&height=585" class="full-width-image">
  </div>

  <!-- Botão abaixo da imagem -->
  <div class="button-container">
    <ion-button expand="block" class="custom-button">Começe Agora</ion-button>
  </div>
</ion-content>
