.image-container {
    width: 100%;
    text-align: center;
  }
  
  .full-width-image {
    max-width: 100%;
  }
  
  .button-container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  
  .custom-button {
    --background: #F58F8F;
    font-family: 'Agrandir';
  }
  