.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-content {
    max-width: 300px; /* Ajuste a largura conforme necessário */
    width: 100%;
    padding: 20px;
    text-align: center;
    
  }
  
  .divider {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .divider-line {
    flex: 1;
    height: 1px;
    background-color: #fff;
  }
  
  .divider-text {
    margin: 0 10px;
    color: #fff;
    font-weight: bolder;
  }
  
  ion-content{
    --background: #A5D499;
  }

  ion-button{
    --color: #378AD6;
    --background: #F06C9B;
  }

  a{
    color: #fff;
  }

  h1{
    color:#378AD6;
    font-weight: bolder;
  }

  p {
    color: #005B25;
    font-weight: bold;
  }