<ion-content class="ion-padding">
  <!-- Título do formulário -->
  <h1 class="form-title">Cadastro</h1>

  <!-- Inputs -->
  <div class="input-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirme a senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de nascimento</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <!-- Botão de cadastro -->
  <ion-button expand="block" class="register-button">Cadastrar-se</ion-button>
</ion-content>
