<ion-toolbar class="toolbar-home">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>
    <ion-img src="caminho_da_logo.png" class="logo"></ion-img>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <ion-content class="ion-padding">
    <!-- Container/card com imagem -->
    <ion-card-title class="card-title">
      <h1>Você está em...</h1>
    </ion-card-title>
    <ion-card>
      <ion-img src="https://i.pinimg.com/564x/2f/1c/4e/2f1c4eba1b149083ceac0f6fdaa3d43e.jpg" alt="Nome do Local"
        class="card-image"></ion-img>

    </ion-card>


    <!-- Barra de pesquisa -->
    <ion-searchbar class="searchbar" placeholder="Pesquisar"></ion-searchbar>

    <!-- Título "Lugares Populares" -->
    <h2>Lugares Populares</h2>

    <ion-content>
      <div class="carousel-container">
        <div class="card-slide" [ngClass]="{ 'active': activeSlide === 1 }">

          <ion-card>
            <ion-img src="https://i.pinimg.com/736x/21/df/77/21df774675565e7c021cbc1dfd0124e2.jpg" alt="Local 1"
              class="card-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Local 1</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <div class="card-slide" [ngClass]="{ 'active': activeSlide === 1 }">
          <ion-card>
            <ion-img src="url_da_imagem2" alt="Local 2" class="card-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Local 2</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <div class="card-slide" [ngClass]="{ 'active': activeSlide === 2 }">
          <ion-card>
            <ion-img src="url_da_imagem3" alt="Local 3" class="card-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Local 3</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

        <div class="card-slide" [ngClass]="{ 'active': activeSlide === 2 }">
          <ion-card>
            <ion-img src="url_da_imagem4" alt="Local 4" class="card-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Local 4</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
        <!-- Adicione mais cards conforme necessário -->
      </div>

      <div class="nav-buttons">
        <ion-button (click)="prevSlide()" class="nav-button" fill="clear">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="nextSlide()" class="nav-button" fill="clear">
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-content>