ion-content {
  --background: #FFFCF5;
  padding-top: 30px;
  font-family: 'Agrandir', sans-serif;
}

ion-toolbar {
  --background: clear;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  background-color: #FFFCF5;
}



ion-item {
  --background: #FFFCF5; /* Cor de fundo das abas */
  --ion-item-background: #FFFCF5; /* Cor de fundo das abas */
  color:#323030
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #FFFCF5;
}

.logo {
  max-width: 100px;
  height: auto;
}

ion-buttons[slot="end"] {
  margin-right: 10px;
}

.card-pesquisa {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

ion-card {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #7EE384;
  color: #323030;
  font-family: 'Agrandir Bold', sans-serif;
}

ion-card-title {
  color: #323030;
}

.card-title {
  display: flex;
  align-items: center;
  color: #323030;
}

.icon {
  margin-right: 8px;
  font-size: 35px;
}

ion-searchbar {
  --placeholder-color: black;
  --icon-color: black;
  --background: beige;
  --color: black;
  --border-radius: 20px;
}

.map-container {
  margin: 20px auto;
  width: 90%; /* Defina a largura máxima para 90% */
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border: 2px solid #ccc;
}

#map {
  width: 100%;
  height: 100%;
}

.popular-now {
  margin-left: 15px;
  margin-bottom: 20px;
}

.now-title h1 {
  color: #323030;
  margin-left: 40px;
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 10px;
}

.now-title p {
  color: #323030;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.square-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}

.square1, .square2, .square3 {
  position: relative;
  width: 125px;
  height: 125px;
  background-color: #E37EBE;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Agrandir Bold', sans-serif;
}

.square2 {
  background-color: #8FDCF5;
}

.square3 {
  background-color: #F1DD86;
}

.square-header {
  padding: 10px;
  text-align: left;
}

.square-header h3 {
  margin: 0;
  color: #323030;
  font-weight: bold;
}

.square-content {
  padding: 10px;
}

.square-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #323030;
}

.text-area {
  flex: 1;
}

.arrow-button {
  --border-radius: 0;
}

.arrow-icon {
  color: #323030;
  font-weight: 200;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0px; 
}

.centered-image {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 20px;
  margin-top: 0px;
}

.centered-button {
  width: 200px;
}
