<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/gallery">
          <ion-label>Galeria</ion-label>
        </ion-item>
        <ion-item button routerLink="/diary">
          <ion-label>Anotações</ion-label>
        </ion-item>
        <ion-item button routerLink="/tasks">
          <ion-label>To-Do</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  

  <!-- Toolbar -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="logo-container">
          <ion-img src="https://i.ibb.co/fSshXrB/Design-sem-nome-1.png" class="logo"></ion-img> 
        </div>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <!-- Card Pesquisa -->
  <div class="card-pesquisa">
    <ion-card>
      <ion-card-header>
        <div class="card-title">
          <ion-icon name="globe-outline" class="icon"></ion-icon>
          <ion-card-title>Para onde vamos?</ion-card-title>
        </div>  
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar placeholder="Digite o lugar que deseja ir"></ion-searchbar>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Contêiner do Mapa -->
  <div class="map-container">
    <div id="map"></div>
  </div>

  <!-- Cards -->
  <div class="popular-now">
    <div class="now-title">
      <p>Nesta semana</p>
      <h1>Salvador, Bahia...</h1>
    </div>
    <div class="square-container">
      <div class="square1">
        <div class="square-header">
          <h3>Show de Ivete</h3>
        </div>
        <div class="square-footer">
          <ion-button routerLink="/confirma" fill="clear" class="arrow-button">
            <ion-icon slot="icon-only" name="arrow-forward-circle" class="arrow-icon"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="square2">
        <div class="square-header">
          <h3>Festival do Acarajé</h3>
        </div>
        <div class="square-footer">
          <ion-button fill="clear" class="arrow-button">
            <ion-icon slot="icon-only" name="arrow-forward-circle" class="arrow-icon"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="square3">
        <div class="square-header">
          <h3>Feira de Artes</h3>
        </div>
        <div class="square-footer">
          <ion-button fill="clear" class="arrow-button">
            <ion-icon slot="icon-only" name="arrow-forward-circle" class="arrow-icon"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <!-- Imagem -->
  <div class="image-container">
    <img src="https://i.ibb.co/6D3TCnh/HOME.png" class="centered-image">
    <ion-button routerLink="/cadastro" expand="block" class="centered-button">Planeje Sua Viagem</ion-button>
  </div>
</ion-content>
